.topic-page {
    border-radius: 4px;
	background-color: #f2effe;
	color: black;
	padding: 2rem 2rem 1rem;
    margin-bottom: 3rem;
	width: 100%;
}

.reply-avatar {
    .ui.comments .comment .avatar {
        margin: .2em 0 1rem;
    }
}

.avatar-header {
    position: absolute;
    right: 8rem;
    top: 1rem;
}